
.header {
 display: flex;
 justify-content: space-between;
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 border-bottom: 1px solid black;
 height: 80px;
}
.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  color: MediumAquamarine;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

span.navItem {
  display: inline-block;
  width: 60px;
  text-align: center;
  text-decoration: underline;
}

div {
  display: block;
}

.content {
  display: flex;
  max-width: 1250px;
  justify-content: space-between;
  margin: auto;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.left {
  width: 630px;
  flex-direction: column;
  margin-right: 32px;
}

.motherof3 {
  background-image: url("../Resources/Images/img-story-main.png");
  background-size: cover;
  height: 300px;
  width: 630px;
  margin-bottom: 25px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.motherof3content {
  width: 630px;
}

.smallStories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin-top: 25px;
  }

.orca {
  height: 300px;
  }

.earthSpins {
  background-image: url("../Resources/Images/img-story-2.png");
  height: 300px;
  margin-top: 25px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.researchCamera {
  background-image: url("../Resources/Images/img-story-3.png");
  height: 300px;
  margin-top: 25px;
  display: block;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.center {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  display: inline-block;
}

.catsControl {
  background-image: url("../Resources/Images/img-story-1.png");
  min-height: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.right {
  display: flex;
  width: 240px;
  flex-wrap: wrap;
  flex-direction: column;
}

.right img {
  padding-top: 25px;
  padding-bottom: 25px;
}

.right h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.newsBites {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.newsBites div {
   border-bottom: 1px solid black;
   padding: 15px
}

img {
  align-self: center;
}
