
.header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.myTimes {
  align-self: center;
}

.navigation {
  display: flex;
  flex-direction: column-reverse;
  align-self: center;
  width: 300px;
}

span {

}
